@{
    var db = Database.Open("Shaffans");
    var sqlSelect = "SELECT * FROM Categories;";
}
<div class="tabbable">
<ul class="nav nav-pills">
@foreach (var category in db.Query(sqlSelect))
{
    <li><a href="/Products/@category.categoryTitle">@category.categoryTitle</a></li>
}
</ul>
</div>
